.class-picker {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;

  &--center {
    justify-content: center;
  }

  &__class {
    margin-right: 1em;
    opacity: 1;
    transition: all 0.1s ease-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      opacity: 1;
    }

    &--inactive {
      opacity: 0.4;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
